<header>
  <h1>All lists</h1>
</header>
<section id="body">
  <section id="lists-container">
    <ul id="lists-list" class="content-list">
      <%= content_tag_for(:li, @lists) do |list| %>
        <%= render 'list', :list => list %>
      <% end %>
      <li class="new new-list">
        Create a new list
        <ul class="actions">
          <li><%= link_to 'Create', new_list_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</section>
