<% content_for :header do %>
  <h1>Editing item</h1>
<% end %>

<%= render 'form', :list => @list, :item => @item %>

<%= link_to 'Show', list_item_path(@list, @item) %> |
<%= link_to 'Back', @list %>
