@import 'colors';

// Action links
.actions {
  list-style: none;
  display: inline;
  li {
    display: inline;
  }
  a {
    font-style: italic;  
  }
}

// Content lists
ul.content-list {
  list-style: none;

  > li {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    background-color: $item_bg;
    border: solid 1px $item_border;
    color: $item_fg;

    .content-title {
      font-weight: bold;
    }

    .content-summary {
      margin-left: 1em;
      font-style: italic;
    }

    footer {
      float: right;

      .content-actions {
        list-style: none;
        display: inline;
        li {
          display: inline;
        }
        a {
          font-style: italic;  
        }
      }
    }
  }
}
